// NOTE: Our intention is to have three columns, but we use column_count=4
// because it ensures that the browser will center all columns on the page!
$column_width: 33em
$column_space: 3em
$column_count: 4

$mono_font: Terminus, Consolas, Menlo, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Droid Sans Mono', Monaco, 'Lucida Console', Fixedsys, monospace

@import url('http://fonts.googleapis.com/css?family=Lobster')
$serif_font: Lobster, Constantia, Palatino, 'DejaVu Serif', 'Bistream Vera Serif', 'Droid Serif', serif

@import url('http://fonts.googleapis.com/css?family=Molengo')
$sans_font: Molengo, Calibri, 'DejaVu Sans', 'Bitstream Vera Sans', 'Droid Sans', Helvetica, sans-serif

=heading_style
  font-family: $serif_font
  font-weight: normal
  line-height: 1.25em

=content_style
  font-family: $sans_font
  line-height: 1.5em

=literal_style
  font-family: $mono_font
  line-height: normal

=center_text
  display: block
  text-align: center

=center_elem
  display: block
  margin: auto

=bubble_border
  display: block
  border-radius: 1em
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  padding: 0.75em 1em 0.75em 1em

@media all
  body
    +content_style
    margin: 2em
    font-size: 1.125em

  h1, h2, h3, h4, h5, h6
    +heading_style

  pre, code, samp, kbd, tt
    +literal_style

  img
    +center_elem

  #body
    display: block

    > header
      +center_text
      clear: both
      margin-bottom: 2.5em

      > .title
        font-size: 220%

      > :first-child
        +heading_style
        font-size: 180%

      > .author, > .date
        font-size: 110%
        margin-bottom: 0.5em

    > .description
      +center_text
      margin-bottom: 2em

    > nav.entries > table
      +center_elem
      display: inherit
      border-collapse: collapse

      td.title > a
        display: block
        padding-top: 0.5em
        padding-bottom: 0.5em
        padding-right: 1em

      td.date
        white-space: nowrap

    > .content
      text-align: justify

      table
        border-collapse: collapse

        &, th, td
          // NonText (zenburn.vim)
          border: thin solid #5b605e

        th
          padding: 0.25em
          text-align: center

        td
          padding: 0.5em

      h1, h2, h3, h4, h5, h6
        margin-top: 1em

    > footer
      +center_text
      margin-top: 2em

      > p
        font-size: 80%

        &.copyright
          margin-bottom: 0

        &.credits
          margin-top: 0

@media screen
  body
    // Normal (zenburn.vim)
    color: #dcdccc
    background-color: #3f3f3f

    // NonText (zenburn.vim)
    $column_color: #5b605e
    $column_ruler: "thin" "solid" $column_color

    -moz-column:
      count: $column_count
      width: $column_width
      gap:   $column_space
      rule:  $column_ruler

    -webkit-column:
      count: $column_count
      width: $column_width
      gap:   $column_space
      rule:  $column_ruler

  #body
    +center_elem
    max-width: $column_width

    > nav.entries > table tr

      &:hover
        // CursorLine (zenburn.vim)
        background-color: #434443

      &:target
        // CursorColumn (zenburn.vim)
        background-color: #4f4f4f

    > aside.update > dl
      +bubble_border
      // Pmenu (zenburn.vim)
      color: #9f9f9f
      background-color: #2c2e2e

      > dt.title
        font-weight: bold
        // PmenuSel (zenburn.vim)
        color: #d0d0a0

      > dd.content
        margin-right: 1em

  h1, h2, h3, h4, h5, h6
    // Define (zenburn.vim)
    color: #ccdc90

  a
    text-decoration: none
    font-weight: bold
    // Number (zenburn.vim)
    color: #8cd0d3

    &:hover
      text-decoration: underline

  em, i, var
    font-weight: bolder
    // Type (zenburn.vim)
    color: #dfdfbf

  strong, b
    // Function (zenburn.vim)
    color: #efef8f

  // XXX: fix for strong colors being applied to
  //      IntenseDebate comment form submit link
  #idc-container .idc-r strong
    color: black

  blockquote
    // Define (zenburn.vim)
    color: #ffcfaf

  code, samp, kbd, tt
    // Boolean (zenburn.vim)
    color: #dca3a3

  pre
    +bubble_border
    +literal_style
    overflow: auto

    // Markdown renders 4-space indented blocks as <pre><code>
    // however, I want to treat them as pure <pre> blocks only!
    &, & > code:only-child
      // Pmenu (zenburn.vim)
      color: #9fafaf
      background-color: #262626

@media print
  blockquote
    +heading_style
    font-style: italic

  #body
    > header > a.index,
    > .comments,
    > footer
      display: none

  // show destination URL for external hyperlinks
  a[href]:not([href^='#']):after
    content: ' ' attr(href)
    +literal_style
