ruby:
  require 'json'

  # construct a relative navigation chain for all entries on index page
  chain_by_entry_id = Hash.new {|h,k| h[k] = {} }
  relation = lambda {|entry, keys| Hash[keys.zip(entry.values_at(*keys))] }
  keys = [:url, 'title']
  listed_entries.each_cons(2) do |preceding, following|
    chain_by_entry_id[preceding[:id]][:following] = relation[following, keys]
    chain_by_entry_id[following[:id]][:preceding] = relation[preceding, keys]
  end

erb:
  $(function() {
    // create links to preceding and following entries in navigation chain
    var chain_by_entry_id = <%== chain_by_entry_id.to_json %>;
    var entry_id = $('#body').data('entry-id');
    if (entry_id) {
      var chain = chain_by_entry_id[entry_id];
      if (chain) {
        // element to surround with navigation links
        var $target = $('article > header .navigation > a');

        var preceding = chain.preceding;
        if (preceding) {
          $target.before($('<a>').
            attr('href', preceding.url).
            attr('title', preceding.title).
            html('&prec;'));
        }

        var following = chain.following;
        if (following) {
          $target.after($('<a>').
            attr('href', following.url).
            attr('title', following.title).
            html('&succ;'));

          if (!preceding) {
            // make sure it occupies space on the screen so that
            // navigation links always appear in the same place
            $target.before($('<a>').
              attr('style', 'visibility: hidden'));
          }
        }
      }
    }

    // make alternate texts on images appear as tooltip labels on mouse-over
    $('img[alt]:not([title])').each(function() {
      $(this).attr('title', $(this).attr('alt'));
    });

    // add fullscreen zooming and panning capabilites to images when clicked
    $('img[alt]:not([data-title])').each(function() {
      $(this).attr('data-title', $(this).attr('alt'));
    });
    $('img:not([data-caption])').each(function() {
      $(this).attr('data-caption', $(this).attr('src').replace(/.*\//g, ''));
    });
    var $zoomable = $('img').not('a img');
    if ($zoomable.length > 0) Intense( $zoomable );

    // filter entries on index page based on user input in the search box
    var $entries = $('nav.entries > ul > li');
    var $headings = $('nav.entries > h2');
    $('article > header > form.search > input[type=search]').on(
      'keyup change focus blur search', function(event) {
        var input = event.target.value;
        if (input.match(/\S/)) {
          var words = input.replace(/^\s+|\s+$/g, '').split(/\s+/g);
          var regexp = new RegExp(words.join('|'), 'ig');
          $headings.hide();
          $entries.each(function() {
            var $entry = $(this);
            if (regexp.test($entry.text())) {
              $entry.show();
              $entry.parent('ul').prev('h2').show();
            }
            else {
              $entry.hide();
            }
          });
        }
        else {
          $entries.show();
          $headings.show();
        }
      }
    );
  });
