$golden_ratio: 1.618

// taken from the Gruvbox colorscheme palette
// https://github.com/morhetz/gruvbox#palette
$all_bg_color: #32302f // dark0_soft
$border_color: #504945 // dark2
$all_fg_color: #d5c4a1 // light2
$header_color: #fabd2f // bright_yellow
$subtle_color: #83a598 // bright_blue
$a_link_color: #8ec07c // bright_aqua
$a_seen_color: #d3869b // bright_purple
$target_color: #fabd2f // bright_yellow
$emboss_color: #b8bb26 // bright_green
$pretty_color: #fe8019 // bright_orange

=icon_wave
  content: '\224B' // &apid;

=icon_star_outline
  content: '\2606' // &star;

=icon_star_filled
  content: '\2605' // &starf;

=navigation_icon($icon_size)
  float: right
  font-size: $icon_size
  text-decoration: none

=you_are_here($icon_size, $anim_time: $golden_ratio * 1s)
  color: $target_color
  font-weight: bolder

  &:before
    +navigation_icon($icon_size)
    +icon_star_filled
    // animate the icon for wayfinding
    transform: rotateY(360deg)
    transition: transform $anim_time

=media_screen($text_size, $icon_size, $glow_size: $golden_ratio * 1em)

  body
    color: $all_fg_color
    background-color: $all_bg_color
    text-shadow: 0 0 $glow_size
    line-height: $glow_size
    font-family: monospace
    font-size: $text_size

  article#body
    margin: auto
    max-width: 80ch
    text-align: justify

    > hr
      visibility: hidden

    > header, > footer
      text-align: center

    > header
      margin-bottom: 2em

      > .navigation
        margin-top: 1em
        font-size: $text_size * 2.5

        > a
          margin: 0.25em
          text-decoration: none

          &:not([href])
            visibility: hidden

          &.rootlink
            &:before
              +icon_wave
            > span
              display: none

      > .title > a.feed > img
        display: inline

    .category, .credits
      color: $subtle_color

    > .content

      .table-of-contents
        border: thick dashed $border_color
        padding: 1.5em
        padding-left: 3em
        padding-right: 0
        margin-bottom: 2em

      h1, h2, h3, h4, h5, h6
        margin-top: 2em

      p + p
        text-indent: 2em

    > nav.entries > ul > li
      margin-top: 1em
      // when user follows link to index page from an entry
      // they are placed at its location in the entry list
      &:target > .title > a
        +you_are_here($icon_size)

  h1, h2, h3, h4, h5, h6, th
    color: $header_color
    line-height: $glow_size

  h1
    font-size: $text_size * 2.0

  h2
    font-size: $text_size * 1.8

  h3
    font-size: $text_size * 1.6

  h4
    font-size: $text_size * 1.4

  h5
    font-size: $text_size * 1.2

  h6
    font-size: $text_size * 1.0

  img, video, audio, embed, iframe
    margin: auto
    display: block
    // fit media elements within their parent container
    // http://unstoppablerobotninja.com/entry/fluid-images
    max-width: 100%
    max-height: 100%

  blockquote
    color: $subtle_color
    font-size: $text_size * 1.25
    font-style: italic
    text-align: center

  dt, strong, em, b, i, u
    color: $emboss_color

  code
    color: $pretty_color
    font-weight: bolder

  pre
    padding: 1em
    line-height: 100%

    code
      color: inherit
      font-weight: inherit

      // comments
      span.c, span.c1, span.cm
        font-style: inherit !important
        color: $emboss_color !important

  ol > li
    list-style-type: decimal

    ol > li
      list-style-type: lower-alpha

      ol > li
        list-style-type: lower-roman

        ol > li
          list-style-type: upper-alpha

          ol > li
            list-style-type: upper-roman

            ol > li
              list-style-type: lower-greek

  table
    margin: auto
    border-collapse: collapse

    tr
      border-bottom: thin solid $border_color

      th, td
        margin: none
        padding: 0.5em
        text-align: center

  a
    img
      border: none

    &:link
      color: $a_link_color

    &:visited
      color: $a_seen_color

    &:hover
      color: $target_color

    &.uplink, &.permalink
      +navigation_icon($icon_size)

    &.permalink:before
      +icon_star_outline

    &.downlink:target
      +you_are_here($icon_size)

  // reveal uplink and embellish permalink on target
  *:target > a
    &.uplink:before
      +icon_wave

    &.permalink
      +you_are_here($icon_size)

@media screen
  +media_screen($golden_ratio * 1.75vmax, $golden_ratio * 5.75vmax)

@media screen and (min-width: 640px), (min-height: 640px)
  +media_screen($golden_ratio * 1.25vmax, $golden_ratio * 5.25vmax)

@media screen and (min-width: 1024px), (min-height: 1024px)
  +media_screen($golden_ratio * 1.125vmin, $golden_ratio * 4vmin)

@media screen and (min-width: 1440px), (min-height: 1440px)
  +media_screen($golden_ratio * 1vmin, $golden_ratio * 4vmin)

@media print

  article#body
    header
      text-align: center
    hr, .navigation, a.uplink, a.permalink, .comments, footer
      display: none

  a
    text-decoration: none
    // show destination URL for external hyperlinks
    &[href]:not([href^='#']):after
      content: ' ' attr(href) ' '
      font-family: monospace
