$column_width: 26em
$column_space: 0
$column_count: auto

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Molengo|Ubuntu+Mono|Delius')
$heading_font: Comfortaa, Constantia, Palatino, serif
$content_font: Molengo, Calibri, Helvetica, sans-serif
$literal_font: 'Ubuntu Mono', Monaco, Consolas, Fixedsys, monospace
$quoting_font: Delius, Constantia, Palatino, serif

// zenburn.vim
$col-links: #8cd0d3
$col-code: #9fafaf
$col-code-bg: #343434
$col-arrows: #484848
$col-categories: #7f9f7f
$col-table-borders: #5b605e
$col-table-header: #88b090
$col-table-header-bg: #2e3330
$col-text: #dcdccc
$col-background: #3f3f3f
$col-nav-bg-hover: #434443
$col-nav-bg-target: #4f4f4f
$col-aside: #9f9f9f
$col-aside-bg: #2c2e2e
$col-updates: #d0d0a0
$col-title: #ccdc90
$col-em: #dfdfbf
$col-strong: #efef8f
$col-ins: #f8f893
$col-ins-bg: #385f38
$col-del: #333333
$col-del-bg: #f18c96
$col-blockquote: #ffcfaf
$col-inline-code: #dca3a3


=heading_style
  font-family: $heading_font
  font-weight: normal
  line-height: 140%
  text-shadow: 0 0 20px black

=content_style
  font-family: $content_font
  line-height: 155%
  font-size: 125%

=literal_style
  font-family: $literal_font
  line-height: normal

=quoting_style
  font-family: $quoting_font

=center_text
  display: block
  text-align: center

=center_elem
  display: block
  margin: auto

=bubble_border
  display: block
  border-radius: 1em
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  padding: 0.75em 1em 0.75em 1em

=scroll_arrow
  position: fixed
  z-index: -1
  top: 45%
  font-size: 1250%
  font-weight: bolder
  color: $col-arrows

@media all
  body
    +content_style
    margin: 2em

  h1, h2, h3, h4, h5, h6
    +heading_style

  pre, code, samp, kbd, tt
    +literal_style
    font-size: medium

  img, video, audio, embed, iframe
    +center_elem

  blockquote, q
    +quoting_style

  a > img
    border: none

  #body
    display: block
    text-align: justify

    .category
      color: $col-categories

    > header
      +center_text
      clear: both
      margin-bottom: 2em

      > a.index:first-child
        +heading_style
        font-size: xx-large

      > .title > a.feed > img
        display: inline

      > .category
        margin-top: 1em

    > .description
      +center_text

    > form.search
      +center_text
      margin-bottom: 2em

    > nav.entries > table
      width: 100%
      border: none
      border-collapse: collapse

      td
        border: none
        padding-top: 0.5em
        padding-bottom: 1.5em

      td.title
        text-align: left
        padding-right: 2em

      td.date
        text-align: right
        white-space: nowrap
        vertical-align: top

    > .content
      table
        border-collapse: collapse

        &, th, td
          border: thin solid $col-table-borders
          padding: 0.5em

        th
          text-align: center
          color: $col-table-header
          background-color: $col-table-header-bg

      h1, h2, h3, h4, h5, h6
        margin-top: 2em
        text-align: left

    > .comments
      margin-top: 3em

    > footer
      +center_text
      margin-top: 2em

      > p
        font-size: smaller

        &.copyright
          margin-bottom: 0

        &.credits
          margin-top: 0

// only apply columns on high resolution displays
@media only screen and (min-device-width: 1024px)
  html, body
    height: 96%
    margin: 1%
    padding: 0

  body
    $column_color: $col-table-borders
    $column_ruler: "thin" "solid" $column_color

    &:before
      +scroll_arrow
      content: '<'
      left: 0

    &:after
      +scroll_arrow
      content: '>'
      right: 0.5%

    column:
      count: $column_count
      width: $column_width
      gap:   $column_space
      rule:  $column_ruler

    -moz-column:
      count: $column_count
      width: $column_width
      gap:   $column_space
      rule:  $column_ruler

    -webkit-column:
      count: $column_count
      width: $column_width
      gap:   $column_space
      rule:  $column_ruler

@media screen
  body
    color: $col-text
    background-color: $col-background

  #body
    +center_elem
    max-width: $column_width

    > nav.entries > table tr
      &:hover
        background-color: $col-nav-bg-hover

      &:target
        background-color: $col-nav-bg-target

    > .content aside
      +bubble_border
      color: $col-aside
      background-color: $col-aside-bg

    > aside.update > dl > dt.title
      font-weight: bold
      color: $col-updates

  h1, h2, h3, h4, h5, h6
    color: $col-title

    a.permalink:after
      padding-left: 0.25em
      content: '\2665' // &hearts;
      opacity: 0.25

    a.permalink:hover:after
      opacity: initial

  hr
    border: thin solid $col-table-borders

  a
    text-decoration: none
    font-weight: bold
    color: $col-links

    &:hover
      text-decoration: underline

  em, i, var
    font-weight: bolder
    color: $col-em

  strong, b
    color: $col-strong

  ins
    color: $col-ins
    background-color: $col-ins-bg

  del
    color: $col-del
    background-color: $col-del-bg

  blockquote, q
    color: $col-blockquote

  code, samp, tt
    color: $col-inline-code

  kbd
    border-style: outset
    padding: 2px
    color: black
    background-color: silver

  pre
    +bubble_border
    +literal_style
    overflow: auto
    white-space: pre-wrap

    &::-webkit-scrollbar
      width: 1ex
      height: 1ex

    &::-webkit-scrollbar-track
      margin: 1ex

    &::-webkit-scrollbar-thumb
      -webkit-border-radius: 1ex
      background: rgba(0, 0, 0, .25)

      &:hover
        background: rgba(0, 0, 0, .55)

    &::-webkit-scrollbar-corner
      display: none

    // Markdown renders 4-space indented blocks as <pre><code>
    // however, I want to treat them as pure <pre> blocks only!
    &, & > code:only-child
      color: $col-code
      background-color: $col-code-bg !important

  // styling for IntenseDebate comments
  // http://support.intensedebate.com/css-documentation/
  #idc-container-parent #idc-container
    // increase font size
    &, & div
      font-size: large

    // make dates visible
    .idc-thread_active, .idc-time > a
      color: $col-title

    // fix for strong colors being applied to
    // IntenseDebate comment form submit link
    .idc-r strong
      color: inherit

    // restore padding and margin for <pre>
    .idc-c-t-inner pre
      +bubble_border

@media print
  blockquote, q
    font-style: italic

  #body
    > header > a.index,
    > .comments,
    > footer
      display: none

  // show destination URL for external hyperlinks
  a[href]:not([href^='#']):after
    content: ' ' attr(href)
    +literal_style
